.editPanel {
    margin: 20px 100px 20px 60px;
    display: flex;
    flex-direction: row;
}

.contactInformation {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 30px;
}

.contactIcon {
    font-size: 90px;
    margin-left: 10px;
}

.contact {
    width: 200px;
    margin-right: 2px;
    margin-left: auto;
}

.addContact {
    width: 40px;
    margin-left: auto;
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.confirm {
    width: 30px;
}

.reject {
    width: 30px;
    margin-right: 2px;
}