.photo {
    width:100px;
    height: 100px;
    border: 2px solid grey;
    border-radius: 50px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contactDetails {
    width: 330px;
    height: 120px;
    margin: 0 0 30px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.receivedInfo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: flex-end;
    width: 200px;
}

.title{
    margin: 3px 1px;
    font-weight: bold;
}

.subTitle{
    margin: 3px 1px;
    color: #a0a0a0;
}

.phone{
    margin: 3px 1px;
    font-family: italic;
}

.email{
    margin: 3px 1px;
    text-decoration: underline;
    color: #0000aa;
    white-space: nowrap;
}

.icon {
    margin-left: auto;
    height: 25px;
    width: 25px;
}

